{% extends 'base.html.twig' %}

{% block stylsheets %}
 <link href="{{ asset('css/styles.css')}}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="page">
            <h6>TECHNICIENNE RESEAUX ET TELECOMS</h6>
            <div class="infor">
                <div class="info">
                    <p><strong>Coralie-Amandine Boukono</strong><br></p>
                    <p>151 avenue de Paris 42300 Roanne <br>
                    +33 7 65 63 89 74 <br>
                 amandinecoraliebkn@gmail.com</p>
                 <p>Permis B (voiture)</p>

                </div> 

            </div>

            <div class="section">
                <h6>FORMATIONS</h6>
                <div class="sec-gauche" id="forma-gauche">
                    <p>2022-encours</p>
                    
                    <p>2021-2022</p>

                </div>
                <div class="sec-droite">
                    <p><span class="titre">Institut Universitaire de Roanne, France</span><br>
                    Bachelor Universitaire Technologique Réseaux et Télécommunication (BUT RT) trois ans </p>
                    <p> <span class="titre">Lycée Anne-MARIE-Javouhey, Congo-Brazzaville</span><br>
                    Baccalauréat Scientifique  (D) <br>
                    Spécialité Scientifique</p>

                </div>

            </div>

            <div class="section">
                <h4>EXPERIENCES PROFESSIONNELLES</h4>
                 <div class="sec-gauche">
                    <div id="part-gauche">
                        <p>2022-2022<br> <span class="duree">(1 semaine)</span></p>
                        <p>2021-2021<br> <span class="duree">(3 mois)</span></p>

                    </div>
                </div>
                <div class="sec-droite">
                    <p> <span class="titre">Mc donald</span><br>
                    Employé polyvalent</p>
                    <p><span class="titre">cabinet de la marine marchande</span><br>stagiaire</p>
                   
                </div>
            </div>

            <div class="section">
                <h6>COMPETENCES</h6>
             <p>- Configurer un commutateur<br>
                - Faire un devis<br>
                - Mesurer le débit du Wi-Fi<br>
             </p>
            </div>

            <div class="section">
                <h6>LANGUES ETRANGERES et COMPETENCES INFORMATIQUE</h6>
                <div class="sec-gauche">
                    <p>Anglais: <br>
                    français <br>
                    </p>
                    <p>informatique:</p>
                </div>
                <div class="sec-droite" id="lang-droite">
                    <div id="lang-droite-petisec">
                     <p>Bonne connaissance<br>
                        Maternelle </p>
                    </div>
                    <p>Maîtise des logiciels Excel, PowerPoint, Word. Connaissence en HTML,  </p>
                </div>
             </div>
<div class="section">
                <h4>LOISIRS</h4>
                <p>- lire des romans<br>
                   - Musique (Afro-beats)<br>
                   -regarder des films<br>
                   










             <button type="button" class="btn btn-dark">télecharger</button>
{% endblock %}